In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import csv

In [5]:
weather_df = pd.read_csv("Output/Weather_info.csv")

In [6]:
weather_df.head()

,Unnamed: 0,Cities,Country,Latitude,Date,Max. Temperature,Humidity,Cloudiness,Wind Speed
0,0,goderich,CA,43.74,9/7/2018,17.23,66,88,9.96
1,1,saldanha,PT,41.42,9/9/2018,16.48,80,48,1.76
2,2,qaanaaq,GL,77.48,9/8/2018,-1.53,100,0,3.21
3,3,baraki barak,AF,33.97,9/7/2018,21.00,49,0,1.00
4,4,kapaa,US,22.08,9/7/2018,28.90,79,40,5.10

In [7]:
date_today = weather_df["Date"].value_counts().keys()
date_today

Index(['9/9/2018', '9/7/2018', '9/10/2018', '9/8/2018'], dtype='object')

In [9]:
date = max(weather_df["Date"].value_counts().keys())
date

'9/9/2018'